@model ShiftViewModel
@{
    ViewData["Title"] = "Shift";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"]</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-datepicker.min.css" rel="stylesheet" />
</head>

<div class="container mt-4">
    <!-- NAVIGAZIONE -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="tabWorkers-tab" data-bs-toggle="tab" data-bs-target="#tabWorkers" type="button" role="tab" aria-controls="tabWorkers" aria-selected="true">Workers</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabDuration-tab" data-bs-toggle="tab" data-bs-target="#tabDuration" type="button" role="tab" aria-controls="tabDuration" aria-selected="false">Duration</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabMatrix-tab" data-bs-toggle="tab" data-bs-target="#tabMatrix" type="button" role="tab" aria-controls="tabMatrix" aria-selected="false">Matrix Solver</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabCp-tab" data-bs-toggle="tab" data-bs-target="#tabCp" type="button" role="tab" aria-controls="tabCp" aria-selected="false">CP-SAT Solver</button>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <!-- WORKERS -->
        <div class="tab-pane fade show active" id="tabWorkers" role="tabpanel" aria-labelledby="tabWorkers-tab">
            <div id="select-container1" class="mt-3 p-3 border rounded">
                <div class="form-check">
                    @foreach (Employee emp in Model.Employees)
                    {
                        <input class="form-check-input" type="checkbox" id="@emp.Id">
                        <label class="form-check-label ms-2" for="@emp.Id">@string.Format("{0} {1}",emp.Name,emp.Surname)</label>
                        <br />
                    }
                </div>
            </div>
        </div>
        <!-- DURATION -->
        <div class="tab-pane fade" id="tabDuration" role="tabpanel" aria-labelledby="tabDuration-tab">
            <div id="select-container2" class="mt-3">
                <div class="form-floating mb-3" data-provide="datepicker">
                    <input type="date" class="form-control" id="fromDate">
                    <label for="fromDate">Start</label>
                </div>
                <div class="form-floating mb-3" data-provide="datepicker">
                    <input type="date" class="form-control" id="toDate">
                    <label for="toDate">End</label>
                </div>
            </div>
            <button class="btn btn-danger mb-2" onclick="eraseDatepicker()">Reset</button>
        </div>
        <!-- MATRIX SOLVER -->
        <div class="tab-pane fade" id="tabMatrix" role="tabpanel" aria-labelledby="tabMatrix-tab">
            <div id="select-container3" class="mt-3">
                <button class="btn btn-outline-primary mb-2" onclick="">Generate shift</button>
                
            </div>
        </div>
        <!-- LINEAR SOLVER -->
        <div class="tab-pane fade" id="tabCp" role="tabpanel" aria-labelledby="tabCp-tab">
            <div id="select-container4" class="mt-3">
                <button class="btn btn-outline-primary mb-2" onclick="">Generate shift</button>
            </div>
        </div>
    </div>
</div>

<!-- Include external JavaScript file -->
<script src="~/js/shift.js"></script>